#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@
override_dh_auto_configure:
	cmake . -DCMAKE_INSTALL_PREFIX=/usr -DCEGUI_BUILD_IMAGECODEC_STB=false -DCEGUI_BUILD_IMAGECODEC_TGA=false
override_dh_auto_build:
	make
override_dh_auto_install:
	make install DESTDIR=$(CURDIR)/debian/cegui
get-orig-source:
	wget "http://prdownloads.sourceforge.net/crayzedsgui/cegui-0.8.4.tar.bz2" -O ../cegui_0.8.4.orig.tar.bz2
install-orig-source: get-orig-source
	tar xjvf ../cegui_0.8.4.orig.tar.bz2
	cp -r cegui-0.8.4/* .
	rm cegui-0.8.4
